/* Base Styles */
body {
    font-family: 'Arial', sans-serif;
    background: url('https://cdn.vectorstock.com/i/1000v/95/00/rock-paper-scissors-banners-with-hand-gestures-vector-42149500.avif') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}